.panda-bg-info {
    background-color: #fceae8;
}
.categories img {
    width: 100px;
}
.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #ff2b7e 0%, #ff136f 100%);
    color: white;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
